.like-button {
  background-color: #181818;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
}

.like-button:hover {
  background-color: #e50914;
  border-color: #e50914;
}

.like-button.liked {
  background-color: #e50914;
  border-color: #e50914;
}

.heart {
  font-size: 18px;
  margin-right: 5px;
}