.Movie-item-container {
  display: inline-block;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.3s;
}

.Movie-item-container:hover {
  border: 1px solid #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.Movie-item-img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.Movie-item-title {
  display: block;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
  color: #ffffff
}


@media screen and (max-width: 768px) {
  .Movie-item-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .Movie-item-title {
    font-size: 14px;
  }
}