.Movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  margin: 0 auto;
  padding: 20px;
}


@media screen and (max-width: 768px) {
  .Movies-container {
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .Movies-container {
    padding: 5px;
  }
}